h1{
background-color: #27327b;
color: white;
line-height: 100px;
text-align: center;
}
img{
  max-width: 1000px;
  display: block;
  margin: auto;
  width: 80%;
}
h2{
  background-color: #ea0437;
  color: white;
  line-height: 50px;
  text-align: center;
}

* { font-family: helvetica; }
* {
  padding-right: 75px;
  padding-left: 75px;
}

nav{
  background-color: #ea0437;
  color: white;
  line-height: 50px;
  text-align: center;
}

nav a{
  color: white;
  text-transform: full-width;
}

a:link, a:visited {
    background-color: #27327b;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #3F3FBF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
